body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.modal { width: 30% !important ; height: 45% !important ; } 

#toast-container {
  top: 9% !important;
  right: 40% !important;
  
  
}